<%
if(loggedin){
  // console.log(username);
  %>
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Creed Thoughts | Admin</title>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="icon" href="../images/logo.png" width="64px">
      <script type="text/javascript" src="../../index.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body>
      <div class="content-wrap">
        <div id="header"></div>
        <section>
          <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters">
              <div class="col-12 ">
                <div class="overlay" style="background-image: url('../images/hero1.png')"></div>
                <div class="canvas">
                  <p>Logged in as</p>
                  <h1><%=user.name%></h1>
                  <h5>@<%=user.username%></h5>
                </div>
              </div>
            </div>
          </div>
        </section>
        <br>
        <section>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="" data-aos="fade-right" >
                <a href="/admin/create_post"><div class="btn-card">Create Post</div></a>
              </div>
            </div>
            <div class="col-md-3">
              <div data-aos="fade-right" data-aos-delay="300">
                <a href="#"><div class="btn-card">View Posts</div></a>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
      <br>
      <footer id="footer" class="footer-admin"></footer>

      <script type="text/javascript">
   $(document).ready(function(){
   $("#header").load("components/header.html");
   $("#footer").load("components/footer.html");})
      </script>
      <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init({duration:1000,once: true});
      </script>
    </body>
  </html>
  <%
}
else{%>
  <script type="text/javascript">
    alert('Please Login to continue');
    window.location='/login';
  </script>
<%}
%>
