<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Creed Thoughts</h3>
      <p>TECH, CARS, CODING, GAMING, ...</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="images/logo.png" alt="creed thoughts" width="50%">
    </div>
    <div class="col-md-4">
      <p>Subscribe to mailing list</p>
      <form class="form-control2" action="index.html" method="post">
        <div class="row no-gutters">
          <div class="col">
            <div class="mailing">
              <input type="email" name="email" value="">
              <button class="btn btn-i" type="submit" name="subscribe">SUbscribe</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="social">
        <a href="https://www.instagram.com/samartha__/"><i class="fa fa-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=918904460742"><i class="fa fa-whatsapp"></i></a>
        <a href="https://github.com/yunghog"><i class="fa fa-github"></i></a>
        <a href="mailto:samarthahm@gmail.com"><i class="fa fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/samartha-hm-7398861a1/"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <div class="cc text-center">
        <p>Copyright © 2020 Creed Thoughts. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
