body{
background-color: #eee;
font-family: "nexal";
position: relative;
min-height: 100vh;
}
header{
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
.content-wrap {
  padding-bottom: 20rem;    /* Footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20rem;    /* Footer height */
  background-color:      #ff006d;
  background-image: url("../images/hero1.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #fff;
  padding: 20px 0 10px 0;
}
@media screen and (max-width: 768px) {
  .content-wrap{
    padding-bottom: 30rem;
  }
  footer{
    height: 30rem;
  }
}
@font-face {
    src: url("../fonts/nexal.otf");
    font-family: 'nexal';
}
@font-face {
    src: url("../fonts/nexab.otf");
    font-family: 'nexab';
}
h1, h2, h3, h4, h5, h6{
  font-family: 'nexab';
  font-weight: 900;
  text-transform: uppercase;
}
h1{
  font-size: 50px;
}
p{
  text-align: justify;
  font-size: 20px;
}
.para::before{
  content: "\00a0\00a0\00a0\00a0";
}
nav{
  font-family: 'nexab';
}
.overlay{
  top: 0;
  /* z-index: -1; */
  /* position: absolute; */
  width: 100%;
  height: 720px;
  margin: 0px;
  background-color : #ff006d;
  background-blend-mode: multiply;
  /* background-image: url("../images/hero1.png"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.canvas{
  position: absolute;
  z-index: 2;
  top: 200px;
  color: #fff;
  animation: fadeup 2s ease;
  left: 10%;
}
@keyframes fadeup {
  from{
    opacity: 0;
    padding-left: 50px;
  }
  to{
    opacity: 1;
    padding: 0;
  }
}
@media screen and (max-width: 720px) {
  header{
    background-color: #333;
  }
}
.form-control2 input{
  padding: 5px;
  width: 90%;
  background-color: #fffa;
  color: #222;
  border: none;
  margin: 5px 0 5px 0;
  box-shadow: 0 0 25px #2221;
}
.form-control2 textarea{
  padding: 5px;
  width: 90%;
  background-color: #fffa;
  color: #222;
  border: none;
  margin: 5px 0 5px 0;
  box-shadow: 0 0 25px #2221;
}
.btn{
  border: none;
  text-transform: uppercase;
  font-family: "nexal";
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  letter-spacing: 2px;
  border-radius: 0px;
}
.btn1{
  color: #ff006d;
  background-color: #eee;
}
.btn1:hover, .btn1:active{
  box-shadow: 0 0 10px #ff006d;
}
.btn2{
  color: #ff006d;
  background-color: #222;
}
.btn2:hover, .btn2:active{
  box-shadow: 0 0 10px #ff006d;
}
.mailing button{
  background-color: #222;
  color: #ff006d;
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 2;
  height: 30px;
}
.mailing{
  width: 100%;
  position: relative;
}
.mailing input{
  margin: 5px 0 5px 0;
  padding: 5px;
  width: 100%;
  height: 30px;
}
.social a{
  color: #fff;
  font-size: 26px;
  padding: 5px 10px 5px 10px;
}
.social a:hover{
  background-color: #222;
  color: #ff006d;
  border-radius: 50%;
}
.cc p{
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}
.social-dark a{
  color: #222;
}
.social-dark a:hover{
  background-color: #222;
  color: #ff006d !important;
}
a:hover{
  text-decoration: none !important;
}
.topic{

}
.topic button{
  margin: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ff006d;
  border-radius: 20px;
  color: #222;
  text-decoration: none !important;
  box-shadow: 0 0 10px #2225;
}
.topic button:hover{
  box-shadow: 0 0 10px #ff006d;
  color: #eee;
  background-color: #222;
}
.blog-img-1{
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}
.blog-img-1 img{
  min-width: 100%;
  height: auto;
}
.text-small{
  font-size: 12px !important;
}
.blog-text-1 ul{
  list-style-type: none;
  padding: 0 0 0 5px;
}
.blog-text-1 ul a{
  padding: 2px;
  color: #ff006d;
}
.blog-text-1 ul a:hover{
  color: #ff006d;
  background-color: #222;
}
